<div>
  <h2> <%= @service.category.name.capitalize %></h2>
</div>

<div class="text-center">
  <h4><strong>Nom du service</strong></h4>
  <h4><%= @service.name %></h4>
  <br>
  <h5><strong>Description</strong></h5>
  <h5><%= @service.description %></h5>
  <br>
</div>


<div class="container-product">
  <% @service.supplies.each do |supply|%>
    <p><%= supply.product.name %> <%= supply.product.price %> €</p>
  <% end %>
</div>

<div class="container-product">
  <h3>Ajouter un produit</h3>
  <%= form_with url: service_supplies_path(@service), method: :post do |form| %>
    <%= form.select :product_id, Product.all.collect {|p| [ p.name, p.id ] } %>
    <br>
    <div class="bt-container">
      <%= link_to 'Retour', categories_path, class: 'back back-service' %>
      <%= form.submit "Ajouter", class: "submit-service" %>
    </div>
  <% end %>
</div>

 <!-- <%= link_to "Créer un produit", new_product_path %> -->
