<br>
<br>
<div class="container">
  <div class="user">
      <p><%=current_user.name%></p>
      <p><%=current_user.address%></p>
      <p>Email: <%=current_user.email%></p>
      <p>Téléphone: <%=current_user.phone%></p>
      <p>N°Siret: <%=current_user.siret%></p>
  </div>
  <div class="customer-container">
    <div class="customer">
        <p><%=@quote.customer.name%></p>
        <p><%=@quote.customer.address%></p>
        <p><%=@quote.customer.phone%></p>
        <p><%=@quote.customer.email%></p>
    </div>
  </div>
<br>
<br>
  <div class="date">
    <p> le <%= @quote.date %></p>
  </div>
</div>
