<br>
<br>
<div class="container">
  <div class="user">
      <p><%=current_user.name%></p>
      <p><%=current_user.address%></p>
      <p>Email: <%=current_user.email%></p>
      <p>Téléphone: <%=current_user.phone%></p>
      <p>N°Siret: <%=current_user.siret%></p>
  </div>
  <div class="customer-container">
    <div class="customer">
        <p><%=@quote.customer.name%></p>
        <p><%=@quote.customer.address%></p>
        <p><%=@quote.customer.phone%></p>
        <p><%=@quote.customer.email%></p>
    </div>
  </div>
<br>
<br>
  <div class="date">
    <p> Fait le <%= @quote.created_at.strftime("%d-%m-%Y") %></p>
  </div>
<br>
<br>



  <div>
    <% @quote.lines.each do |line|%>
      <p><%= line.service.name %>
      <p><%= line.service.description %><%= line.quantity %></p>
    <% end %>
  </div>

  <div>
    <%= form_with url: quote_lines_path(@quote), method: :post do |form| %>
    <%= form.select :service_id, Service.all.collect {|p| [ p.name, p.id ] } %>
    <%= form.number_field :quantity %>
    <%= form.submit "Ajouter" %>
  <% end %>
  </div>
</div>
