  <div class="title">
    <h1>Rechercher un client</h1>
  </div>

<div class="customers-page">
  <div>
    <div class="searching-customer">
      <%= form_tag customers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Saisir le nom du client" %>
        <div class="search">
          <%= image_submit_tag("search.svg") %>
        </div>
      <% end %>
    </div>
    <div class="customers">
      <ul class="custom">
        <div class="lists-customer">
          <% @customers.each do |customer| %>
            <div>
              <h3 class="name"><%= link_to customer.name, customer %>
              <%= link_to customer_path(customer), class: 'trash',
                method: :delete,
                data: { confirm: "Etes-vous sûr(e) de vouloir supprimer ce client ?" } do%>
                <i class="fa-regular fa-trash-can"></i>
              <% end %></h3>
            </div>
          <% end  %>
        </div>
      </ul>
    </div>
  </div>
  <div>
    <%# <%= link_to 'Continuer', customer_path(@customer) %>
  </div>
</div>
