<div class="title">
  <h1>Créer un client</h1>
</div>

<div class="new">
  <div class="form">
    <%= simple_form_for(@customer) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label: "Prénom et nom :" %>
        <%= f.input :address, label: "Adresse :" %>
        <%= f.input :email, label: "E-mail :" %>
        <%= f.input :phone, label: "Téléphone :" %>
        <%= hidden_field_tag "from_navbar",  @from_navbar %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Créer mon client'%>
      </div>
    <% end %>

  </div>
</div>
