<br>
<br>
<div class="new">
  <div class="title">
    <h1>Créez un Client</h1>
  </div>
  <div class="form">
    <%= simple_form_for(@customer) do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :email %>
        <%= f.input :phone %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Créer le Client'%>
      </div>
    <% end %>
  </div>
</div>
