<div class="list">
  <div>
    <h1>Vos Prestations</h1>
  </div>
  <br>
  <div class="categories">
    <ul>
      <div class="lists-categories">
        <% @categories.each do |category| %>
          <li>
            <div class="category">
              <h3 class="name"><%= form_for(@category) do |f| %>
                                 <%= f.check_box :selected %>
                                 <%= link_to category.name, new_category_service_path(category) %>
                                    <%= link_to category_path(category),
                                      class: 'trash',
                                      method: :delete,
                                      data: { confirm: "Are you sure?" } do%>
                                      <i class="fa-regular fa-trash-can"></i>
                                      <% end %>
                               <% end %>
              </h3>
            </div>
          </li>
        <% end  %>
      </div>
    </ul>
  </div>




  <div class="new">
    <div class="form">
      <%= simple_form_for(@category) do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
        </div>
        <div class="form-actions">
          <%= f.submit 'Valider'%>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
